body{
 font-family: 'Poppins', sans-serif;
 font-size: 15px;
 background-color: aliceblue;
}
 .cards1 img {
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: 200px;

    }